body {
    background-color: #2A2E30;
}

.galleryButton {
background-color: #2A2E30;
border: none;
float: right;
}

#videoContainer {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fotoavtryckare-knapp {
    background-color: #FFFFFF;
    border: none;
    color: #2A2E30;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
    
    /* för kamera funktionen */
    video {
        box-shadow: 1px 1px 10px black;
        margin-top: 1rem;
        border-radius: 0rem;
    }
    
    canvas {
        
    }

    #canvasContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #gallery {
        flex: 2 0 21%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }