body {
    background-color: #2A2E30;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fotoavtryckare-knapp {
    background-color: #FFFFFF;
    border: none;
    color: #2A2E30;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
    
    /* för kamera funktionen */
    video {
        box-shadow: 1px 1px 10px black;
        margin-top: 1rem;
        border-radius: 0rem;
    }
    
    canvas {
        width: 640px;
        height: 480px;
    }

    .canvasContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }